header {
    padding: 20px 0;
    background-color: #32004a;
    color: white;
}

.navbar-brand {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #34CD37;
}

.navbar-nav {
    padding: 15px;
    font-size: 18px;
}
.navbar-dark .navbar-toggler {
    color: #34CD37;
    border: 1px solid #34CD37;
}

.btn {
    background-color: #212529;
    color: white;
    width: 70%;
    margin: 10px 0;
}

.btn:hover {
    border: 1px solid #34CD37;
    color: #34CD37;
}
.announcement-bar {
    background-color: #34CD37;
    /* padding: 10px; */
}

.welcome {
    background-color: #212529;
    color: white;
}

.install h3 {
    color: white;
}
.install {
    background-color: #020060;
    /* padding: 10px; */
}
.install-block {
    width: 100%;
    border: 1px solid gray;
    background-color: #212529;
    color: #34CD37;
    border-radius: 4px;
    margin-top: 10px;
}

.install-block pre {
    padding: 12px 0 0 12px;
}

.showcase {
    background-color: #32004a;
    color: white;
}


.showcase-code {
    background-color: #212529;
    color: white;
    border: 1px solid #34CD37;
    border-radius: 2px;
    padding: 10px;
    width: 50%;
    float:left;
}

.newsletter-block {
    background-color: #212529;
    color: white; 
    /* padding: 10px; */
}
.newsletter-block input {
    width: 70%;
    float: left;
    margin: 10px 10px 0 0;
    padding: 5px;
}

.newsletter-block button {
    background-color: #34CD37;
    width:22%;
    float: left;
}

/* div {
    border: 1px solid red;
} */

.newsletter-block button:hover {
    border: 1px solid #212529;
    color: #212529;
}